#content {
	width: 60%;
	height: 650px;
	top: 20px;
	left: 20px;
	overflow: hidden;
	position: absolute;
	border: 1px solid #ccc;
}

.content-wrap {
	position: relative;
}

.content-wrap > li {
	width: 100%;
	height: 100%;
	color: red;
	float: left;
	overflow: hidden;
	position: relative;
}

li:nth-child(1) {
	background: #CAE1FF;
}

li:nth-child(2) {
	background-color: #9bcd9b;
}

li:nth-child(3) {
	background-color: yellow;
}

.charector {
	width: 151px;
	height: 291px;
	background: url(images/boy.png) -0px -291px no-repeat;
	position: absolute;
	left: 6%;
	top: 55%;
}

.a_background {
	width: 100%;
	height: 100%;
	position: absolute;
}

.a_background_top {
	width: 100%;
	height: 71.6%;
	background-image: url(images/bg1.png);
	background-size: 100% 100%;
}


.a_background_middle {
	width: 100%;
	height: 13.1%;
	background-image: url(images/bg2.png);
	background-size: 100% 100%;
}


.a_background_bottom {
	width: 100%;
	height: 15.3%;
	background-image: url(images/bg3.png);
	background-size: 100% 100%;
}

