/*TODO 全局变量*/
/*TODO 初始化*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: '微软雅黑', Arial, Helvetica, Tahoma, sans-serif;
  color: #363636;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  overflow: visible;
}
/*TODO 布局相关*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/*TODO 文本*/
/*TODO 布局*/
/*TODO 特殊*/
