/*TODO 全局变量*/
/*TODO 初始化*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: '微软雅黑', Arial, Helvetica, Tahoma, sans-serif;
  color: #363636;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  overflow: visible;
}
/*TODO 布局相关*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/*TODO 文本*/
/*TODO 布局*/
/*TODO 特殊*/
/*TODO 按钮相关*/
/*正常按钮*/
.default_btn {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #eb8037;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  background: #eb8037;
}
.default_btn:hover {
  text-decoration: none;
}
.default_btn:active {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #ec6f26;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  background: #ec6f26;
}
.default_btn:active:hover {
  text-decoration: none;
}
/*点击状态*/
.default_active_btn {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #ec6f26;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  background: #ec6f26;
}
.default_active_btn:hover {
  text-decoration: none;
}
/*不可点击按钮*/
.default_disable_btn {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #f9d9c3;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  background: #f9d9c3;
}
.default_disable_btn:hover {
  text-decoration: none;
}
/*橙边边框*/
.border_btn {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #eb8037;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  color: #eb8037;
  background: #ffffff;
}
.border_btn:hover {
  text-decoration: none;
}
.border_btn:active {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #d37331;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  color: #d37331;
  background: #ffffff;
}
.border_btn:active:hover {
  text-decoration: none;
}
/*橙边边框点击状态*/
.border_active_btn {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #d37331;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  color: #d37331;
  background: #ffffff;
}
.border_active_btn:hover {
  text-decoration: none;
}
/*不可点击状态*/
.border_display_btn {
  width: 33rem;
  height: 4rem;
  line-height: 4rem;
  line-height: 3.9rem;
  color: #ffffff;
  border: 1px solid #f9d9c3;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  text-align: center;
  color: #f9d9c3;
  background: #ffffff;
}
.border_display_btn:hover {
  text-decoration: none;
}
/*验证码按钮*/
/*验证码按钮*/
.code_default_btn {
  width: 7.8rem;
  height: 2.5rem;
  line-height: 2.4rem;
  color: #eb8037;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.3rem;
  border: 1px solid #eb8037;
  display: inline-block;
  text-align: center;
  outline: none;
}
.code_default_btn:active {
  width: 7.8rem;
  height: 2.5rem;
  line-height: 2.4rem;
  color: #ec6f26;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.3rem;
  border: 1px solid #ec6f26;
  display: inline-block;
  text-align: center;
  outline: none;
}
/*验证码点击状态*/
.code_active_btn {
  width: 7.8rem;
  height: 2.5rem;
  line-height: 2.4rem;
  color: #ec6f26;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.3rem;
  border: 1px solid #ec6f26;
  display: inline-block;
  text-align: center;
  outline: none;
}
/*验证码不可点击状态*/
.code_disable_btn {
  width: 7.8rem;
  height: 2.5rem;
  line-height: 2.4rem;
  color: #f9d9c3;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.3rem;
  border: 1px solid #f9d9c3;
  display: inline-block;
  text-align: center;
  outline: none;
}
/*TODO 文字*/
/*标题文字*/
.menu_title {
  color: #ffffff;
  font-size: 2rem;
}
/*填写页的步骤文字 已进行和在进行*/
.default_er_font {
  color: #ec6f26;
  font-size: 1.2rem;
}
/*填写页的步骤文字 未进行*/
.default_font {
  color: #c6c6c6;
  font-size: 1.2rem;
}
/*信息归类文字*/
.message_font {
  color: #ec6f26;
  font-size: 1.5rem;
}
/*输入框标题*/
.input_font {
  color: #9f9f9f;
  font-size: 1.5rem;
}
/*输入框里提示文字*/
.input_info {
  color: #c6c6c6;
  font-size: 1.5rem;
}
/*结果页面主标题*/
.title_font {
  color: #363636;
  font-size: 1.3rem;
}
/*结果页面副标题*/
.small_title {
  color: #9f9f9f;
  font-size: 1.5rem;
}
/*弹窗*/
.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.layer_main {
  width: 33rem;
  background: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -16.5rem;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.layer_header {
  height: 4.5rem;
  line-height: 4.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #eb8037;
  font-size: 1.7rem;
}
.layer_body {
  display: table-cell;
  height: 15.5rem;
  width: 33rem;
  border-top: 1px solid #eb8037;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.5rem;
  color: #363636;
  padding-left: 2rem;
  padding-right: 2rem;
  vertical-align: middle;
}
.layer_footer {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
}
.layer_footer a {
  width: 49%;
  display: inline-block;
  font-size: 1.7rem;
}
.layer_footer a:hover {
  text-decoration: none;
}
.layer_footer a:nth-of-type(2) {
  border-left: 1px solid #eaeaea;
  color: #eb8037;
}
