<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/app-base.css" />
		<link rel="stylesheet" type="text/css" href="css/app-index.css" />
	</head>

	<body>
		<div id="app">
			<router-view></router-view>
		</div>
		<script src="js/vue.js"></script>
		<script src="js/vue-router.min.js"></script>
		<script src="js/vue-resource.min.js"></script>
		<script src="js/vue-async-data.js"></script>
		<script src="js/hammer.min.js"></script>
		<script src="js/vue-touch.js"></script>
		<script>
			Vue.use(VueAsyncData);
			Vue.use(VueTouch);
			Vue.config.debug = true;
			// Define some components
			var Index = Vue.extend({
				data: function() {
					imgs = ['img/test3.jpg', 'img/test2.jpg', 'img/test1.jpg', 'img/test4.jpg', 'img/test5.jpg', 'img/test6.jpg', 'img/test7.jpg', 'img/test8.jpg', 'img/test9.jpg', 'img/test10.jpg', 'img/test11.jpg', 'img/test12.jpg'];
					var cc = Math.round(Math.random() * imgs.length - 1);
					return {
						Index: {
							bgimg: imgs[cc],
							siteInfo: {
								sitename: "去吃啥？"
							}
						}
					}
				},
				methods: {
					goBack: function(e) {
						history.go(-1);
					}
				},
				template: '<header class="header mui-bar mui-bar-nav"><h1 id="title" class="mui-title">{{Index.siteInfo.sitename}}</h1></header>' +
					'<div class="mui-content index-page" style="background-image: url({{Index.bgimg}})">' +
					'<div class="button-box">' +
					'<button v-link="list" class="mui-btn go-button">马上选出吃什么！</button><br>' +
					'<span>选择困难症患者福音</span>' +
					'</div>' +
					'</div>'
			})
			var List = Vue.extend({
				data: function() {
					var lists = [];
					var listState = false;
					if (localStorage.lists) {
						if (JSON.parse(localStorage.lists).length != 0) {
							lists = JSON.parse(localStorage.lists);
							listState = true;
						}
					}
					return {
						lists: lists,
						siteInfo: {
							sitename: "去吃啥？"
						},
						itemname: "",
						showAddModal: false,
						showDelModal: false,
						listState: listState,
						tmpid: ""
					}
				},
				methods: {
					goBack: function(e) {
						history.go(-1);
					},
					add: function() {
						this.$data.showAddModal = false;
						var imgs = ['img/test3.jpg', 'img/test2.jpg', 'img/test1.jpg', 'img/test4.jpg', 'img/test5.jpg', 'img/test6.jpg', 'img/test7.jpg', 'img/test8.jpg', 'img/test9.jpg', 'img/test10.jpg', 'img/test11.jpg', 'img/test12.jpg'];
						var cc = Math.round(Math.random() * imgs.length - 1);
						if (this.$data.itemname != '') {
							this.$data.lists.push({
								'id': this.$data.lists.length + 1,
								'title': this.$data.itemname,
								'img': imgs[cc],
								'color': 'rgba(173, 171, 163, 0.7)'
							});
							this.$data.itemname = "";
							this.$data.listState = true;
						}
					},
					goAsi: function() {
						localStorage.lists = JSON.stringify(this.$data.lists);
						router.go('/asi');
					},
					openDelIt: function(id) {
						console.log(id);
						this.$data.tmpid = id;
						this.$data.showAddModal = true;
						this.$data.showDelModal = true;
					},
					Cancel: function() {
						this.$data.showAddModal = false;
						this.$data.showDelModal = false;
					},
					delIt: function(id) {
						for (var i = 0; i < this.$data.lists.length; i++) {
							if (this.$data.lists[i].id == id) {
								this.$data.lists.splice(i, 1);
							}
						}
						if (this.$data.lists.length == 0) {
							this.$data.listState = false;
						}
						this.$data.showAddModal = false;
						this.$data.showDelModal = false;
					}
				},
				template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><button v-on="click:goAsi" class="mui-btn mui-btn-link mui-btn-nav mui-pull-right"><span class="mui-icon  mui-icon-checkmarkempty"></span></button><h1 id="title" class="mui-title">{{siteInfo.sitename}}</h1></header>' +
					'<div class="modal-mask" v-if="showAddModal" v-transition="modal">' +
					'<div class="modal-wrapper">' +
					'<div v-if="!showDelModal" class="modal-container">' +
					'<content select=".modal-header">' +
					'<div class="modal-header">' +
					'添加' +
					'</div>' +
					'</content>' +
					'<content select=".modal-body">' +
					'<div class="modal-body">' +
					'<input class="doned-input" v-model="itemname" autofocus="autofocus">' +
					'<button class="doned-btn" v-on="click:add "> Done </button>' +
					'</div>' +
					'</content>' +
					'</div>' +
					'<div v-if="showDelModal" class="modal-container">' +
					'<content select=".modal-header">' +
					'<div class="modal-header">' +
					'要删除这个吗？' +
					'</div>' +
					'</content>' +
					'<content select=".modal-body">' +
					'<div class="modal-body">' +
					'<button class="cancel-btn" v-on="click:Cancel "> Cancel </button>' +
					'<button class="doned-btn" v-on="click:delIt(tmpid) "> Del </button>' +
					'</div>' +
					'</content>' +
					'</div>' +
					'</div>' +
					'</div>' +
					'<div class="mui-content">' +
					'<div class="eating-box">' +
					'<ul>' +
					'<li class="eating-card eating-null" v-if="!listState" v-touch="tap: showAddModal = true" >' +
					'<div class="eating-card-title" ><span>添加你的选择</span></div>' +
					'</li>' +
					'<li class="eating-card" v-touch="tap:openDelIt(item.id)" v-repeat="item in lists" style="background-image: url({{item.img}});">' +
					'<div class="eating-card-title" style="background-color:{{item.color}}"><span>{{item.title}}</span></div>' +
					'</li>' +
					'</ul>' +
					'</div>' +
					'<div class="add-box">' +
					'<span v-on="click: showAddModal = true">＋</span>' +
					'</div>' +
					'</div>'
			})
			var ASI = Vue.extend({
				data: function() {
					return {
						item: {
							'title': '三食堂',
							'img': 'img/test3.jpg',
							'color': 'rgba(173, 171, 163, 0.7)'
						},
						lists: {},
						siteInfo: {
							sitename: "去吃啥？"
						}
					}
				},
				asyncData: function(resolve, reject) {
					var self = this;
					setTimeout(function() {
						var lists = JSON.parse(localStorage.lists);
						var cc = Math.round(Math.random() * (lists.length - 1));
						resolve({
							item: lists[cc]
						})
					}, 1000)
				},
				methods: {
					goBack: function(e) {
						history.go(-1);
					},
					reAsi: function() {
						var lists = JSON.parse(localStorage.lists);
						var cc = Math.round(Math.random() * (lists.length - 1));
						this.$data.item = lists[cc];
					}
				},
				template: '<header class="header mui-bar mui-bar-nav"><a  v-on="click: goBack" class="mui-icon mui-icon-left-nav mui-pull-left"></a><h1 id="title" class="mui-title">{{siteInfo.sitename}}</h1></header>' +
					'<div class="mui-content asi-page">' +
					'<div class="loading" v-if="$loadingAsyncData">' +
					'<div class="spinner">' +
					'<div class="double-bounce1"></div>' +
					'<div class="double-bounce2"></div>' +
					'</div>' +
					'<span>给我一点时间...</span>' +
					'</div>' +
					'<div v-if="!$loadingAsyncData" class="asi-box">' +
					'<div class="asi-card"  style="background-image: url({{item.img}});">' +
					'<div class="asi-card-title" style="background-color:{{item.color}}"><span>{{item.title}}</span></div>' +
					'</div>' +
					'<div class="re-asi-btn" v-touch="tap:reAsi"><span>不对不对，再选一次！</span></div>' +
					'</div>' +
					'</div>'
			})
			var App = Vue.extend({})
			var router = new VueRouter()
			router.map({
				'/': {
					component: Index
				},
				'/list': {
					component: List
				},
				'/asi': {
					component: ASI
				}
			})
			router.start(App, '#app')
		</script>
	</body>

</html>