/*TODO 全局变量*/
/*TODO 初始化*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
a {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: '微软雅黑', Arial, Helvetica, Tahoma, sans-serif;
  color: #363636;
}
body {
  font-size: .5rem;
  background-color: #f2f2f2;
}
button {
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: underline;
}
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
}
input {
  border-width: 0;
  outline: none;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none ;
}
i,
em {
  font-style: normal;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none;
}
/*TODO 布局相关*/
/*TODO 文本*/
/*TODO 布局*/
/*TODO 特殊*/
