* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clear-fix {
  *zoom: 1;
}
.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.input {
  margin-top: 30px;
  height: 42px;
  width: 100%;
  padding-left: 20px;
  border-width: 0;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
.button {
  width: 160px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  border-radius: 100px;
  background-color: #80D4F6;
  text-align: center;
  margin: 30px auto;
}
.p {
  font-size: 13px;
  padding-left: 35px;
  margin-bottom: 15px;
}
.wrap {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #F3F3F3;
}
.wrap .info {
  font-size: 15px;
}
.wrap .item {
  width: 320px;
  height: 110px;
  padding-left: 68px;
  padding-right: 19px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 5px;
}
.wrap .item .p1 {
  line-height: 16px;
  padding-top: 19px;
  margin-bottom: 5px;
}
.wrap .item .p2 {
  font-size: 18px;
  line-height: 25px;
}
.wrap .item .span1 {
  font-size: 13px;
  color: #4A4A4A;
}
.wrap .item .span2 {
  font-size: 11px;
  color: #9B9B9B;
}
.wrap .item .hr {
  background-color: #EAEAEA;
  height: 1px;
  width: 100%;
  margin-top: 12.5px;
  margin-bottom: 5.5px;
}
.wrap .item .footer {
  font-size: 11px;
  color: #9B9B9B;
  line-height: 16px;
}
