@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;border: none;}
body(font-size: 12px;)
img{border:none;}
li{list-style:none;}
input,select,textarea{outline: none;border: none;background:none;}
textarea{resize:none;}
a{text-decoration: none;color: #656565;}
/*清除浮动*/
.clearfix:after{content: "";display:block;clear: both;}
.clearfix{zoom:1;}


/*公用*/
.comWidth{
	width: 1000px;margin: 0 auto;
}
.left{float: left;}
.right{float: right;}