<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript">
        // 想直接引入页面的js
        // 详细看github 例子
        // https://github.com/jantimon/html-webpack-plugin/tree/master/examples/inline
        <%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>

    </script>
</head>
<body>
    
    <!--这是注释-->
    <div name="" disabled="">这个页面的js是内嵌进来的</div>
    <% for (var k in htmlWebpackPlugin.files.chunks) { %>
        <% if (k !== 'main') {%>
            <script src="<%= htmlWebpackPlugin.files.chunks[k].entry %>"></script>
        <% } %>    
    <% } %>
</body>
</html>