.border>div {
    border:1px solid #cccccc;
    margin: -1px;
}

.l-box {
    border:1px solid #cccccc;
    padding: 10px;;
}

.border-sizing>div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

