@font-face {
    font-family: 'lon-icon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ali-icon';
    src: url('fonts/iconfont2.eot');
    src: url('fonts/iconfont2.eot') format('embedded-opentype'), url('fonts/iconfont2.ttf') format('truetype'), url('fonts/iconfont2.woff') format('woff'), url('fonts/iconfont2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="lon"] {
    font-family: 'lon-icon'!important;
}

[class*="ali"] {
    font-family: 'ali-icon'!important;
}

.icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lon-spinner:before {
    content: "\e97a";
}

.lon-spinner2:before {
    content: "\e97b";
}

.lon-spinner3:before {
    content: "\e97c";
}

.lon-spinner4:before {
    content: "\e97d";
}

.lon-spinner5:before {
    content: "\e97e";
}

.lon-spinner6:before {
    content: "\e97f";
}

.lon-spinner7:before {
    content: "\e980";
}

.lon-spinner8:before {
    content: "\e981";
}

.lon-spinner9:before {
    content: "\e982";
}

.lon-spinner10:before {
    content: "\e983";
}

.ali-daikuan:before {
    content: "\e70b";
}
